.git
.venv
__pycache__
.pytest_cache
.mypy_cache
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
target
build
dist
*.egg-info
examples/*
!examples/taxonerd-async/
!examples/taxonerd-async/**
!examples/spacy-async/
!examples/spacy-async/**
!examples/gazetteer-async/
!examples/gazetteer-async/**
!examples/gnfinder-async/
!examples/gnfinder-async/**
